In [7]:
import pandas as pd
import numpy as np

# Set random seed for reproducibility
np.random.seed(42)

# Generate synthetic data
n_schools = 100
data = pd.DataFrame({
    "School_ID": [f"SCH_{i}" for i in range(1, n_schools + 1)],
    "School_Name": [f"School_{i}" for i in range(1, n_schools + 1)],
    "Region": np.random.choice(["North", "South", "East", "West"], n_schools),
    "Number_of_Students": np.random.randint(50, 1000, n_schools),
    "Performance_Score": np.round(np.random.uniform(30, 100, n_schools), 2),
    "Funding_Needed": np.random.randint(10000, 500000, n_schools),
    "Current_Funding": np.random.randint(5000, 300000, n_schools),
    "Resource_Gap": np.random.randint(0, 20, n_schools)
})
# Correctly add the Underserved_Students column
data["Underserved_Students"] = np.random.randint(0, 200, n_schools)

# Calculate additional columns
data["Funding_Deficit"] = data["Funding_Needed"] - data["Current_Funding"]
data["Resource_Gap_Per_Student"] = data["Resource_Gap"] / data["Number_of_Students"]

# Save to CSV
data.to_csv("school_resource_data.csv", index=False)
print("Synthetic data generated and saved as 'school_resource_data.csv'.")

Synthetic data generated and saved as 'school_resource_data.csv'.

In [8]:
data.head()

,School_ID,School_Name,Region,Number_of_Students,Performance_Score,Funding_Needed,Current_Funding,Resource_Gap,Underserved_Students,Funding_Deficit,Resource_Gap_Per_Student
0,SCH_1,School_1,East,752,93.53,464483,41631,13,139,422852,0.017287
1,SCH_2,School_2,West,451,47.45,189426,247289,19,24,-57863,0.042129
2,SCH_3,School_3,North,779,58.73,398207,77991,4,179,320216,0.005135
3,SCH_4,School_4,East,605,82.89,143629,9014,11,122,134615,0.018182
4,SCH_5,School_5,East,211,46.02,310504,278237,15,52,32267,0.071090